*.flux
!tests/flux/*.flux
BUILD_STATUS.json
/build/


/docs/
/examples/*.md

/editor/
/gui/
/scripts/
*.md
tests/integration/results/*
tests/integration/results/test_*.log
tests/integration/results/test_*.out
tests/integration/results/test_*.err
tests/integration/results/test_*.txt
tests/integration/results/test_*.raw
todo/
TODO.md
