*.flux
!tests/flux/*.flux
!stdlib/*.flux
!examples/fullcircuit/**/*.flux
/build/
/build_local/
/build_debug/
/docs/
/examples/*.md
/editor/
/gui/
/scripts/
*.md
!examples/fullcircuit/*.md
tests/integration/results/
todo/
TODO.md
progress.md
/*.csv
/*.json

.vscode/
.spiceinit
.flux_cache/
llvm.sh
debug/
